[Unit]
Description=Xserver VPS auto extension timer

[Timer]
OnCalendar=*-*-* {{HOUR}}/12:{{MINUTE}}:00
Persistent=true

[Install]
WantedBy=timers.target
